table tr td{
	border: 1px solid black;
}
table {
	border: 1px solid black;
}

p{
	font-size: 1.25em;
}
div {
	display: inline-block;
	padding: 5px;

}

#ingredients {
	position: relative;
	margin-left: 10px;

}
#directions {
	position: absolute;
	margin-left: 20px;
}
h1 {
	text-align: center;

}

a:link {
	text-decoration: none;
	color: #ffff00;
}
a:visited {
    text-decoration: none;
    color: #ffff00;
    }
a:hover {
    color: #000000;
    text-decoration: underline;
}

#intro {
	margin-left: 20px;

}

img {
	width: 500px;
	height: 350px;
}

#notify {
	font-size: .90em;
	text-decoration: underline;

}
.sup {
	font-size: 1.15em;
}

.abcd {
  background-color: #0000FF;
}

.ahem{
	background-color: #ffff00;
}